
 

# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: General point run Scrapers

on:
  #  push:
  #    branches: [ main ]
  schedule:
    - cron: '00 19 * * *'
  workflow_dispatch:

permissions:
  contents: read

env:
  API_KEY: ${{ secrets.APY_KEY }}

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install -r requirements.txt
        sudo apt-get install curl
    - name: All scrapers runs
      run: |
        python3 scrapers_forzza/verifone_scraper.py
