name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    types:
      - closed

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip3 install requests
    - name: Update API
      run: |
        python3 apiUpdateFiles.py